body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625em;
  margin: 0;

font-family: 'Sacramento', cursive;
  text-align: center;
}
h2{
  color: #66BFBF;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
}
h3
{
color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #bce6eb;
}
.middle-container{
  

}
.bottom-container{
  background-color:#bce6eb;

}
.skills{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
  line-height: 2;
}

.code-img{
  width: 25%;
  float: left;
}
#computer{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-color: purple;

}
#mountain{
  width: 350px;
  height: 200px;
}
